            /* COMANDOS BÁSICOS DE CSS */
            /* A sigla css significa Cascading Style Sheets = Folha de estilo em cascata */
            /* Css é responsável pela aparência das páginas HTML *
/* Para se usar comentários no código css utiliza-se da barra invertida junto asterisco /* */
            /* O css foi criado para suprir a necessidade de dar mas autonomia à formatação de conteudos. Além disso, o css
Css facilita o reuso de regras. */
            /* A ligação do Css com a página de conteúdos pode ser feita de formas distintas a partir de atributios, seletores, 
            classes e propriedades para aplicar as regras contidas no css. */
            /* A extensão do arquivo salvo em css é .css */
            /* Tipos de css:
            - Inline: diretamente no HTML
            - Incorporado: por meio da tag <style>, no topo da página, dentro da tag <head>s
            - Linkado ou externo: por meio da tag <link>, de modo a cinvulara o HTML a uma folha de estilso externa. */
            /* Exemplo de Css */
            /* CSS Inline:
            O css Inline é adicionado junto ao código HTML por meio do atributo style. Isso permite atribuir novas propriedades
            e alterar o visual do elemento. 
            <p style="color:red; font-size:30px">Texto aqui </P> */
            /* CSS Incorporado
            O Css incorporado é declarado no início do código HTML e deve ser adicionado dentro da tag <head>. Precisamos abrir e 
            fechar a tag <style>
            <style>
            p{
                color:blue;
                font-size:30px
            }
            </style> */
            /* CSS Linkado ou Externo
            O Css Linkado ou Externo é adicionado em um arquivo separado do arquivo.html, esse arquivo pode ser ligado a várias
            páginas HTML ao mesmo tempo. Assim a manutenção é feita de modo muito mais rápido. 
            <head>
            <link rel="stylesheet" type="text/css" href="folhadeestilo.css"
            </head>                   
            */
            /* SELETORES */
            /* Seletores são a declaração que o Css utiliza para identificar os elementos do HTML.
            seletor {propriedade:valor;}
            Seletor       | Formato | Descrição
            Universal     |    *    | Qualquer elemento
            Tipo elemento |   <e>   | Seleciona qualquer elemento do tipo <e>
            Classe        |    .    | Seleciona os elemento que contêm a classe
            ID            |    #    | Seleciona o elemento identificado com o ID
            Link          |    a    | Seleciona a pseudo-class link
            Hover         |  :hover | É aplicada quando posicionamos o mouse sobre o elemento
            */
            /* PROPŔIEDADES DE FOLHA DE ESTILO */
            /*  ID = possibilita a identificação de um elemento por vez. O ID ele deve ser único nos elementos.
            Exemplo:
            Aplicação no CSS
            #seuID {propriedade:valor;}
            Aplicação no HTML
            <p id="paragrafo1">Seutexto</p>

            classe = possibilita a identificação de mais de um elemento ao mesmo tempo e aplicar formatação 
            de forma exemplar.
            Exemplo:
            Aplicação no CSS
            .nomedaclasse{propriedade:valor;}
            Aplicação no HTML
            <p class="nomedaclasse">Texto </p> */
            /* Propriedade Background */
            /* A propriedad background é dividida de vários modos e pode assumir valores especifícos.
             - Background-color: Define a cor do fundo de um elemento
             - Background-image: Define uma imagem como fundo do elemento
             - Background-size: Define o tamanho da imagem no elemento
             - Background-position: Define a posição da imagem em relação à caixa
             - Background-attachment: Define se a imagem de fundo rolará com a tela
             - Background-repeat: Define se a imagem de fundo pode se repetir ou não */
            /* formatação de Listas com propiedades Css
             - List-style-type
                Exemplo
                ul {lists-style-type: circle;}
                ul {lists-style-type: square;}
                ul {lists-style-type: upper-roman;}
                ul {lists-style-type: lower-apha;}

                */
            /* Lista de tags e atributos CSS 

                ATRIBUTO DE CSS	O QUE ELE CONFIGURA
background            	       cor de fundo, imagem, transparência.
background-attachment	       rolagem do fundo / marca d’água.
background-image	           imagem de fundo.
background-color	           cor de fundo ou transparência.
background-position	           posicionamento da imagem de fundo.
background-repeat	           configuração lado-a-lado da imagem de fundo.
border	                       largura, estilo e cor de todas as 4 bordas.
border-bottom                  largura, estilo e cor da borda inferior.
border-bottom-color	           cor da citada borda.
border-bottom-style	           estilo da citada borda.
border-bottom-width	           largura da citada borda.
border-color	               cor das 4 bordas.
border-left	                   largura, estilo e cor da borda esquerda.
border-left-color	           cor da borda citada.
border-left-style              estilo da borda citada.
border-left-width	           largura da borda citada.
border-right	               largura, estilo e cor da borda direita.
border-right-color             cor da borda citada.
border-right-style             estilo da borda citada.
border-right-width	           largura da borda citada.
border-style	               estilo de todas as 4 boras.
border-top                     largura, estilo e cor da borda superior.
border-top-color	           cor da borda citada.
border-top-style               estilo da borda citada.
border-top-width               largura da borda citada.
border-width	               largura de todas as 4 bordas.
clear	                       elementos flutuantes à esquerda ou à direita de um elemento.
clip	                       parte visível de um elemento.
color	                       cor de primeiro plano.
cursor	                       tipo de ponteiro do mouse.
display	                       se o elemento é exibido e o espaço é reservado para ele.
filter                         tipo de filtro aplicado ao elemento.
float	                       se o elemento flutua.
font                           estilo, variante, peso, tamanho e altura da linha do tipo de fonte.
font-face	                   incorporação da fonte ao arquivo html.
font-family	                   tipo de fonte.
font-size	                   tamanho da fonte.
font-style	                   fonte itálico.
fonte-variant                  fonte bold.
font-weight	                   peso da fonte de claro a negrito.
height                         altura exibida ao elemento.
import                         folha de estilo a importar.
left	                       posição do elemento em relação a margem esquerda da página.
letter-spacing	               distância entre as letras.
line-height	                   distância entre linhas de base.
list-style                     tipo, imagem e posição do estilo da lista.
list-style-image	           marcador de item de lista.
list-style-position	           posição do marcador de item da lista.
list-style-type	               marcador de item de lista alternativo.
margin	                       tamanho de todas as 4 margens.
margin-left	                   tamanho da margem esquerda.
margin-right	               tamanho da margem direita.
margin-bottom	               tamanho da margem inferior.
margin-top                     tamanho da margem superior.
overflow	                   exibição de imagens que são maiores do que suas molduras.
padding	                       espaço em torno de um elemento em todos os lados.
padding-bottom                 espaço a partir da margem inferior de um elemento.
padding-left	               espaço à esquerda do elemento.
padding-right	               espaço à direita do elemento.
padding-top                    espaço a partir da margem superior do elemento.
page-break-after	           inserir quebra de página depois de um elemento.
page-break-before              inserir quebra de página antes de um elemento.
position	                   como o elemento é posicionado na página.
text-align                     alinhamento do texto.
text-decoration	               sublinhado, sobrelinhado ou riscado.
text-indent	                   recuo da primeira linha do parágrafo.
text-transform                 transformação para todas maiúsculas, minúsculas ou inicial maiúscula.
top	                           posição do elemento em relação a parte superior da página.
vertical-align                 alinhamento vertical do elemento.
visibility                     se elemento é visível ou invisível.
width	                       largura do elemento.
z-index                        posição do elemento na pilha.

FONTE:http://www.creativehost.com.br/suporte/css.php 
 https://madsonlimasouza.wordpress.com/2012/01/09/lista-de-tags-e-atributos-css/

Guia de referência Css Básico
https://developer.mozilla.org/pt-BR/docs/Learn/Getting_started_with_the_web/CSS_basics

Guia de referência W3C BRASIL 
 https://www.w3c.br/divulgacao/guiasreferencia/css2/

      */